h1{
    color: orange;
}
.container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20;
    background-color: #0C7D74;
    color: #0F353D;
}

#tit1 {
    color: orange;
}

