 
.container{
    color: #6D88FF;
    background-color: #E6C860;
    font-weight: bolder;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
}
#col1{
    color: #FCE677;
}