.container{
    font-family: "Haettenschweiler", 'Arial Narrow Bold', sans-serif;
    background-color: #9743E8;
    font-weight: bolder;
    color: thistle;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 500px;
}
#col1{
    color: black;
    background-color: antiquewhite;
}

