body{
    font-family: 'Lucida Sans';
    font-size: 20px;
    width: 600px;
    height: 300px;
    font-weight: bold;
    color: #005C53;
    background-color: #86B2FA;
    
}
#tit1{
    color: black; 
}
#tit2{
    color: #3D0C3C;
}